<% include head.html %>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<body>
    <script>
        var socket = io.connect('http://socket-express-chat.herokuapp.com');
        //Get the number of clients connected from BROADCAST
        socket.on('conn', function(data) {
            $("div#conn").text(data['conns'])
        });
        socket.on('messageFromApp', function(data) {
            console.log("Go the emittion back");
            theCommentToAppend = data['appendIt'];
            theCommentToAppend = _.escape(theCommentToAppend);
            
            time = data['time'];

            $("#broadcast").prepend(theCommentToAppend + "<br>"+'<abbr title="'+time+'" class="timeago">'+time+'</abbr><br>').effect("highlight", {}, 1000);
            $("abbr.timeago").timeago();

        });
        $(document).ready(function() {
            $('#comment').keypress(function(e) {
                theComment = $("#comment").val();
                if (e.which == 13 && theComment.trim().length != 0) {
                    $("#comment").val("");
                    socket.emit("newMessage", {msg: theComment, time:new Date()});
                }
            });
        });
    </script>
    <div class="hero hero-unit">
        Clients Online: <div style="display: inline;" id="conn"> </div>
        <div class="clearfix"></div>
        <input id="comment" type="text" placeholder="Comment, takes a while .."/>
    </div>
    <div id="broadcast" class="fbbluebox"> </div>
    <abbr class="timeago"></abbr>

    <script>
        $("#mysubmit").click(function() {
            console.log($("#mytext").val());
            $.ajax({
                type: 'POST',
                url: '/', //  or sometimes ?action=home or ?action_home=true or ./?action=home or blank
                data: {
                    'name': $("#mytext").val()
                },
                success: function(msg) {
                    console.log(msg);
                }
            });

        });
    </script>


</body>
</html>

